{% extends 'commonElementsLayout.html' %}
{% block content %}
    <div class="notice">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,notice in messages %}
                    <marquee>
                        <p class="notice">{{notice}}</p>
                    </marquee>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <div>
        <div id="activeBankInvestment">
            {% if combinedDepositInfo.Active %}
                <input type="checkbox" id = "activeCheckBox" onclick="markInvestmentAsInactive(this,{{ combinedDepositInfo.investmentId }},'bankdeposits')"><label for="activeCheckBox">MARK AS INACTIVE</label>
            {% endif %}
        </div>
        <p id="depositBankName">{{combinedDepositInfo.BankName}}</p>
        <p id="depositAmount">Invested Amount : {{combinedDepositInfo.Amount}}</p>
        <p id="depositInvestedDate">Invested Date : {{combinedDepositInfo.InvestedDate}}</p>
        <p id="currentAmount">Current Value : {{combinedDepositInfo.CurrentAmount}}</p>
        <p id="depositMaturityDate">Maturity Date : {{combinedDepositInfo.MaturityDate}}</p>  
    </div>
{% endblock %}