{% extends 'commonElementsLayout.html' %}
{% block navigation %}
    <div class="navbar">
        <a class="header_logo" href="/"><img src="{{url_for('static',filename='header_logo.webp')}}" width="50px" height="40px"></a>
        <a class="loginButton" href="/login">LOG IN</a>
        <a class="signupButton" href="/signup">SIGN UP</a>
    </div>
{% endblock %}

{% block content %}
    <div class="notice">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,notice in messages %}
                    <marquee>
                        <p class="notice">{{notice}}</p>
                    </marquee>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="UserAccount">
        <form action="/" method="post">
            <input name = "userAction" type="hidden" value="resetPassword">
            <input class = "email" name="userEmail" type="email" placeholder="Enter your E-Mail" required><br>
            <input class = "password" name= "userPassword" type="password" placeholder="Enter your Password" maxlength="16" minlength="8" required><br>
            <input class = "password" name="confirmPassword" type="password" placeholder="Confirm your Password" maxlength="16" minlength="8" required><br>
            <input class="submitButton" type="submit" value="SUBMIT"><br>
        </form>
    </div>
{% endblock %}
