{% extends 'commonElementsLayout.html' %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@2.30.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>

    <script>
        function loadStockChart(period){
            let stockName = document.getElementById('investedStockName').innerText;
            document.getElementById("stockInformation").style.display="block";
            if (stockName.includes(".")) {
                [stockName,stockExchange] = stockName.split(".");
                stockExchange=".".concat(stockExchange);
            }
            else{
                stockExchange="";
            }

            let data = JSON.parse('{{combinedStocksInfo | tojson}}');
            let investedDate = Object.keys(data.investmentInfo);
            let amount = Object.values(data.investmentInfo);
            let investedAmount=[];
            let investmentValue=[];
            const today=new Date();
            investedDate.push(today);
            for(let i=0;i<amount.length;i++){
                investedAmount.push(amount[i][1]);
                investmentValue.push(amount[i][2]);
            }
            investedAmount.push(amount[amount.length-1][1]);
            investmentValue.push(amount[amount.length-1][2]);
            console.log(investedAmount);
            console.log(investmentValue);
            stockInvestmentLineChart=createLineChart("stockInvestmentLineChart",
                {"Label":"DATE","Data":investedDate},
                [{"Label":"INVESTED AMOUNT","Data":investedAmount,"Color":"green"},
                {"Label":"INVESTMENT VALUE","Data":investmentValue,"Color":"red"}],
                stockInvestmentLineChart,
                "month",
                3)

            let isVestingStock = {{vestingStock | tojson}};
            if (isVestingStock){
                document.getElementById('vestingInfoLineChart').style.display="flex";
                let vestingDate =Object.keys(data.vestingInfo);
                let units=Object.values(data.vestingInfo);
                vestingLineChart=createVestingChart("vestingLineChart",vestingDate,units,vestingLineChart);
            }
            
            isForeignCurrency=setStockInfo(stockExchange,stockName,period).then(isForeignCurrency => {
                if (isForeignCurrency){
                    document.getElementById("inrAmount").style.display="block";
                }
            });
        }
        window.addEventListener("DOMContentLoaded", () => loadStockChart("yearly"));
    </script>

    <div class="notice">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,notice in messages %}
                    <marquee>
                        <p class="notice">{{notice}}</p>
                    </marquee>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="stockInformation">
        <div class="lineChart" id="stockInfoLineChart">
            <canvas id="stockLineChart" height="600" width="1400"></canvas>
        </div>
        <div id="stockTrendButtons">
            <button class = "submitButton" onclick="loadStockChart('daily')">Daily</button>
            <button class = "submitButton" onclick="loadStockChart('monthly')">Monthly</button>
            <button class = "submitButton" onclick="loadStockChart('yearly')">Yearly</button>
        </div>
        <p id="investedStockName">{{combinedStocksInfo.StockName}}</p>
    </div>
    <div class="stockMFInformation">
        <div id="stockData">
                {% if combinedStocksInfo.Active %}
                    <input type="checkbox" style="margin-top: 500px;" id = "activeCheckBox" onclick="markInvestmentAsInactive(this,{{ combinedStocksInfo.Id }},'stocks')"><label for="activeCheckBox">MARK AS INACTIVE</label>
                {% endif %}
            </div>
            <div>
                <p id="currentStockPrice">Current Stock Price : <input type="number" id="stockPrice" name="stockPrice" readonly><span class="commonString currency" style="color: white; font-size: 1.4em;">$</span></p><br>
                <p class="investedStockAmount" style="color: white;">Originally Invested Amount : {{combinedStocksInfo.Amount}}<span class="commonString currency" style="color: white; font-size: 1.4em;">$</span></p>
                {% if combinedStocksInfo.currentAmount > combinedStocksInfo.Amount %}
                    {% set color="green" %}
                {% elif combinedStocksInfo.currentAmount < combinedStocksInfo.Amount %}
                    {% set color="red" %}
                {% else %}
                    {% set color="white" %}
                {% endif %}
                <p class="investedStockAmount" style="color: {{ color }};">Current Stock Amount : {{combinedStocksInfo.currentAmount}}<span class="commonString currency" style="color: {{ color }}; font-size: 1.4em;">$</span></p>
                <p class="investedStockAmount" id="inrAmount" style="color: {{ color }};"> Invested Amount (Indian Rupees): {{combinedStocksInfo.INRAmount}}<span class="commonString inrCurrency" style="color: {{ color }}; font-size: 1.4em;"> ₹</span></p>
                <p id="investedStockUnits">Number of Units : {{combinedStocksInfo.Units}}</p>
            </div>
            {% if combinedStocksInfo.SIP and combinedStocksInfo.Active %}
                <div>
                    <label class = "updateSIPButton">
                        <input type="checkbox" onclick="checkUpdateSIPEnabled(this)" id = "updateSIPCheckbox">
                        <span class="toggleButton"></span>
                    </label>
                    <label for="updateSIPCheckbox"><span class="toggleLabel">UPDATE SIP</span></label><br>
                    <div id = "sipContainer">
                        <form method="post" action="/myinvestments/stocks/updateSIP">
                            <input type="hidden" name="investmentId" value={{combinedStocksInfo.Id}}>
                            <input type="number" id="sipAmount" name="sipAmount" placeholder="Update the SIP Amount" step="1" min="0" class="sipInfoField"><p class="commonString currency" style="color: white;">₹</p><br>
                            <label for = "sipDate" class="calendarLabel" style="color: white;">Change SIP Date</label><input type="date" name = "sipDate"  id ="sipDate" class="sipInfoField"><br>
                            <input class = "submitButton" type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            {% elif vestingStock %}
                <div>
                    <label class = "vestingInfoButton">
                        <input type="checkbox" onclick="checkVestingInfoAvailable(this)" name="vestingStock" id = "vestingInfoCheckbox">
                        <span class="toggleButton"></span>
                    </label>
                    <label for="vestingInfoCheckbox"><span class="toggleLabel">UPDATE VESTING INFORMATION</span></label><br>
                    <div id="vestingRanges">
                        <form method="post" action="/myinvestments/stocks/updateStockInvestment">
                            <input type="hidden" name="investmentId" value={{combinedStocksInfo.Id}}>
                            <div class="vestingRange">
                                <label for="vestingDate" class="calendarLabel" style="color: white;">Vesting Date</label><input type="date" name = "vestingDate[]"  id ="vestingDate" class="vestingInfoField">
                                <p class="commonString" style="color: white;">:</p>
                                <input type="number" name = "vestingUnits[]" step="1" min="1" class = "vestingUnitField vestingInfoField" placeholder="Units">
                                <p class="commonString" style="color: white;">Units</p>
                                <input type="button" id="addButton" onclick="addVestingField()" value="+">
                                <input type="button" id="removeButton" onclick="removeVestingField(this)" value="-">
                            </div>
                            <input class = "submitButton" type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="stockMfInfoCharts">
            <div class="lineChart" id="stockInvestmentInfoLineChart">
                <canvas id="stockInvestmentLineChart" height="500" width="800"></canvas>
            </div>
            <div class="lineChart" id="vestingInfoLineChart" style="display: none;">
                <canvas id="vestingLineChart" height="500" width="800"></canvas>
            </div>
        </div>
    </div>

{% endblock %}